{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <div class="headline">
        <h1>Folgende Bücher sind vorhanden</h1>
    </div>
    <div class="content">
        {% include 'book/_books_table.html.twig' with {'books': books} %}
    </div>
{% endblock %}
